.Spotlight{
    border: purple solid;
    /* height: 53vh; */
    width: 100vw;
    background-color: #695f60;
    background-image: url(/assets/ideas.jpg);
    background-size: 100%;
  
    /* display: flex; */
    text-align: center;
   
    
    
}

